<div class="row">
  <h2>Books</h2>
  <a href="/manage/books/add">Add Book</a>
  <table>
    <thead>
      <tr>
        <th width="200">ID</th>
        <th width="200">Book Title</th>
        <th width="200">Category</th>
        <th width="180"></th>
        <th width="180"></th>
      </tr>
    </thead>
    <tbody>
      <% books.map(book => {%>
      <tr>
        <td><%=book._id%></td>
        <td><%= book.title %></td>
        <td><%= book.category %></td>
        <td>
          <a href="/manage/books/edit/<%= book._id %> " class="btn btn-info"
            >Edit</a
          >
        </td>
        <td>
          <form action="/manage/books/delete/<%= book._id %> " method="post">
            <input type="submit" value="delete" class="btn btn-danger" />
            <input type="hidden" name="_csrf" value="<%= book._csrf %> " />
            <input type="hidden" name="_method" value="DELETE " />
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
