<div class="singlebook">
  <div class="row mx-1 py-3">
    <div class="col-12 col-md-5 details book">
      <img src="<%= book.cover %>" alt="cover" class="img-fluid" />
    </div>
    <div class="col-12 col-md-7 details book">
      <h2 class="text-center my-2"><%= book.title.toUpperCase() %></h2>
      <ul class="bookInfo">
        <li>Category: <%= book.genre %></li>
        <li>Author: <%= book.author %></li>
        <li>Publisher: <%= book.publisher %></li>
      </ul>
      <br />
      <div class="price mb-3"><span>$<%= book.price %> </span></div>
      <div class="buy">
        <form method="post" action="/cart/<%= book._id %> ">
          <input
            type="submit"
            class="btn btn-primary addtocart"
            value="Add To Cart"
          />
          <input type="hidden" name="_csrf" />
        </form>
        <input type="text" class="btn btn-dark buynow" value="Buy now" />
      </div>
      
    </div>
    <br />
    <div class="container my-3">
      <p class="desc"><%= book.description %></p>
    </div>
  </div>
  <div class="related m-4">
    
      <div class="item">
        <a href="/books/" class="name">
          <img src="" class="" alt="cover" />
          <h5>title</h5>
        </a>
        <p class="price">price </span></p>
        <a href="/cart" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="item">
        <a href="/books/" class="name">
          <img src="" class="" alt="cover" />
          <h5>title</h5>
        </a>
        <p class="price">price </span></p>
        <a href="/cart" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="item">
        <a href="/books/" class="name">
          <img src="" class="" alt="cover" />
          <h5>title</h5>
        </a>
        <p class="price">price </span></p>
        <a href="/cart" class="btn btn-primary">Add to Cart</a>
      </div>
  </div>
</div>
